<header class="main-header">
  <nav class="navigation">
    <ul class="nav-list">
      <li><button class="nav-item popular" tabindex="0" (click)="onNavItemClick('Help')">Help</button></li>
      <li><button class="nav-item popular" tabindex="0" (click)="onNavItemClick('Popular')">Popular</button></li>
      <li><button class="nav-item new" tabindex="0" (click)="onNavItemClick('New')">Recent</button></li>
      <li>
        <input type="text" placeholder="Type to search" [(ngModel)]="searchQuery" (input)="onSearchQueryChange()" (keypress)="onKeyPress($event)" class="nav-item search" />
        <ul *ngIf="filteredTags.length > 0" class="autocomplete-list">
          <li *ngFor="let tag of filteredTags" (click)="selectTag(tag)">{{ tag.name }}</li>
        </ul>
      </li>
      <li><button class="nav-item create" tabindex="0" (click)="onNavItemClick('Create')">Create</button></li>
      <li><button class="nav-item account" tabindex="0" (click)="onNavItemClick('Account')">Account</button></li>
      <li><button class="nav-item logout" tabindex="0" (click)="logOut()">Log out</button></li>
    </ul>
  </nav>
</header>
