<header class="menu-bar">
<app-nav-bar></app-nav-bar>
</header>
<main class="content-area">
  <section class="featured-items">
<!--    <article class="item" *ngFor="let item of featuredItems; let i = index">-->
    <article class="item">
<!--      <img src="{{item.image}}" alt="Featured item" class="item-img" />-->
    </article>
  </section>
  <section class="more-items">
<!--    <article class="item" *ngFor="let item of moreItems; let i = index">-->
    <article class="item">
<!--      <img src="{{item.image}}" alt="Additional item" class="item-img" />-->
    </article>
  </section>
</main>
