.style{
  background-image: url('../../assets/icons/background_login_register.jpeg');
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

.auth-container {
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000;
  font-weight: 500;
  padding: 50px 0 30px;
  max-width: 600px;
  margin: 50px auto;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 17px;
}

.welcome-title {
  font: 800 50px Inter, sans-serif;
  margin-bottom: 40px;
  text-align: center;

}

.form-group {
  width: 100%;
  margin-bottom: 30px;
}

.form-control {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 30px;
  background-color: #d9d9d9;
  border: none;
  font-size: 20px;
}

.submit-btn, .social-login {
  width: 100%;
  max-width: 450px;
  padding: 15px 0;
  border-radius: 30px;
  background-color: #7d47ac;
  color: #fff;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.separator {
  margin: 30px 0;
  font-size: 24px;
}

.social-icon {
  width: 30px;
  aspect-ratio: 1;
  object-fit: cover;
}

.alternative-option {
  font-size: 22px;
  margin-top: 15px;
}

.sign-in-link {
  color: #7d47ac;
  text-decoration: none;
}

@media (max-width: 991px) {
  .form-wrapper, .submit-btn, .social-login {
    max-width: 100%;
    padding: 0 20px;
  }
}
