.style {
  background-color: rgba(228, 222, 246, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.photo-container {
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 20px;
}

.photo-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.new-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.new-photo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.new-photo-placeholder {
  background-color: rgba(217, 217, 217, 0.62);
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.photo-preview {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.edit-photo-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.label-name {
  font-size: 18px;
  color: #000000;
  width: 150px;
  text-align: right;
  margin-right: 20px;
}

.label-privacy {
  margin-top: 50px;
  font-size: 18px;
  color: #000000;
  width: 420px;
  text-align: right;
}

.input-field, .description-field {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

.description-field {
  height: 150px;
  resize: none;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.save-button {
  background-color: #7d47ac;
  color: #000000;
  border: none;
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
  width: 270px;
}

.visibility-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.visibility-inputs {
  display: flex;
  gap: 80px;
}

.visibility-label {
  font-size: 18px;
  color: #000;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
